* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
}

:root {
  --c-brand: #ff9900;
  --c-brand-light: #ff9900;
  --homepage-width: 1280px;
  --c-text-lightest: rgba(60, 60, 60, 0.7);
  --c-text-lighter: rgba(60, 60, 60, 0.7);
}

/* 图片统一加框和间隔 */
.page img {
  padding: 1rem;
  margin: 1rem 0 0 0;
  border-radius: 1em;
  border: 1px solid #ccc;
  max-width: 100%;
}

/* 表内嵌入图片居中 */
.page table {
  display: table;
  text-align: center;
}

/* 表内嵌入图片去掉正文统一加框和间隔 */
.page table img {
  padding: 0;
  margin: 0;
  border-radius: 0;
  border: none;
}

.navbar {
  border-bottom: 1px solid var(--c-brand);
}

.home .hero {
  margin: 96px 32px 160px 32px;
}

.home .hero h1 {
  font-size: 6rem;
}

.home .hero .description {
  max-width: 62rem;
  font-size: 2rem;
}

.home .hero .actions {
  margin-top: 4rem;
}

.home .hero .action-button {
  padding: 0.3rem 0.8rem;
  border-radius: 0.75rem;
}

.home .hero .action-button.secondary {
  background-color: var(--c-bg);
  color: #ff9900;
  font-weight: 600;
  border-color: var(--c-bg);
  font-size: 1.3rem;
}

.home .hero .action-button.primary:hover {
  color: var(--c-bg);
}

.home .features {
  text-align: center;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  padding: 1rem;
  margin-top: 2.2rem;
}

/* 
 * 仿 GitHub docs 的 ol 步骤样式
 *  示例 https://docs.github.com/en/authentication/keeping-your-account-and-data-secure/removing-sensitive-data-from-a-repository
 */
ol:not(.no-styling) {
  display: block;
  list-style-type: decimal;
  counter-reset: li;
  list-style: none;
  position: relative;
  padding-left: 1.7rem;
}
ol:not(.no-styling) > li:before {
  width: calc(1.5rem - 2px);
  height: calc(1.5rem - 2px);
  font-size: calc(1rem - 2px);
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: 0;
  margin-top: 0.2rem;
  color: white;
  font-weight: 700;
  text-align: center;
  border-radius: 50%;
  background-color: black;
}
